body {
  border: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #2A2A2A;
  color: #e6ebf6;
  overflow-x: hidden; }

h1 {
  color: #4484fe; }

a {
  text-decoration: none;
  color: #e6ebf6; }

a:visited {
  text-decoration: none; }

.main {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.btn, .actionbtn {
  padding: 12px 18px;
  font-size: 14px;
  background-color: #e6ebf6;
  border: 1px solid #4484fe;
  color: #4484fe;
  border-radius: 20px;
  width: 150px; }

.actionbtn {
  border: none;
  color: #e6ebf6;
  background-color: #51c1e1; }

.btn:focus, .actionbtn:focus {
  outline: none; }

.btn:hover, .actionbtn:hover {
  background-color: #4484fe;
  color: #e6ebf6;
  border-color: #e6ebf6; }

.logo {
  height: 50px;
  width: auto;
  position: fixed;
  padding-top: 10px;
  padding-left: 10px; }

.circle {
  background: #51c1e1;
  height: 100px;
  width: 100px;
  border-bottom-right-radius: 100%;
  position: fixed; }

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; }
  .nav ul li {
    padding: 14px 16px;
    border-right: 1px solid #51c1e1;
    border-bottom: 1px solid #51c1e1; }

.structure {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto; }

.post-structure, .container {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.container {
  height: 25%; }
  @media screen and (max-width: 900px) {
    .container {
      flex-direction: column-reverse;
      justify-content: center;
      overflow-x: hidden; } }

.hero-img {
  height: 600px; }
  @media screen and (max-width: 900px) {
    .hero-img {
      height: 50vw; } }

.left-side {
  padding: 50px;
  width: 40%;
  display: flex;
  flex-direction: column; }

.slant {
  position: absolute;
  width: 150%;
  height: 35vh;
  background-color: #3466DD;
  transform: rotate(-10deg);
  z-index: -1; }

@media only screen and (max-width: 900px) {
  .slant {
    display: none; } }
