$small: 400px;
$medium: 600px;
$large: 900px;

$roberto: 'Roboto', sans-serif;
$charcoal: #2A2A2A;
$tech-blue: #4484fe;
$dark-blue: #3466DD;
$teal: #51c1e1;
$grey: #e6ebf6;



body{
  border: 0 ;
  margin: 0 ;
  height: 100% ;
  width: 100%;
  font-family: $roberto;
  background-color: $charcoal;
  color: $grey;
  overflow-x: hidden;

}
h1{
  color: $tech-blue;
}
a{
  text-decoration: none;
  color: $grey;

}
a:visited {
  text-decoration: none;
}
.main{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.btn {
  padding: 12px 18px;
  font-size: 14px;
  background-color: $grey;
  border: 1px solid $tech-blue;
  color: $tech-blue;
  border-radius: 20px;
  width: 150px;

}
.actionbtn {
  @extend .btn;
  border: none;
  color: $grey;
  background-color: $teal;
}

.btn:focus {
  outline: none;

}
.btn:hover{
  background-color: $tech-blue;
  color: $grey;
  border-color: $grey;
}
.logo{
  height: 50px;
  width: auto;
  position: fixed;
  padding-top: 10px ;
  padding-left: 10px;
}
.circle{
  background: $teal;
  height: 100px;
  width: 100px;
  border-bottom-right-radius: 100%;
  position: fixed;
}
.nav{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;


    li{
      padding: 14px 16px;
      border-right: 1px solid $teal;
      border-bottom: 1px solid $teal;
    }
  }
}
.structure{
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
}
.post-structure{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container{
  @extend .post-structure;
  height: 25%;

  @media screen and (max-width: $large){
    flex-direction: column-reverse;
    justify-content: center;
    overflow-x: hidden;
  }

}
