@import "global";
.hero-image{


}
.hero-img{
  height: 600px;
  @media screen and (max-width: $large) {
    height: 50vw;

  }

}
.left-side{
  padding: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;

}

.slant{
  position: absolute;
  width: 150%;
  height: 35vh;
  background-color: $dark-blue;
  transform: rotate(-10deg);
  z-index: -1;
}

@media only screen and (max-width: $large){
  .slant{
    display: none;
  }
}
