@import "global";
.left, .right{
  flex-grow: 1;
 background-color: $tech-blue;

  padding: 5px;
  margin: 20px;
}
.center{
  flex-grow: 2;
  background-color: $grey;
  color: $charcoal;
  padding: 5px;
  margin:auto;
  width: 75%;
}

@media only screen and (max-width: $small){
  .structure{
    display: block;
  }
}
